h1
{
font-family:Tahoma;
color:DarkSlateGray;
}

a:link, a:hover, a:active
{
font-size:30px;
color:red;
text-decoration:none;
}

a:visited
{
color:black;
text-decoration:none;
}

body
{
background-image:url('images/a1bg.jpg');
}

h2
{
font-family:Courier;
font-size:30px;
color:black;
}

.bio
{
font-size:20px;
font-weight:600;
}